Localization
{
    en-us
    {
        #RP1COSTMODIFIERS_LOC__Avionics_displayName = Avionics
        #RP1COSTMODIFIERS_LOC__Avionics_desc = Has avionics to control the craft, requiring extensive testing.
        #RP1COSTMODIFIERS_LOC__Cockpit_displayName = Cockpit
        #RP1COSTMODIFIERS_LOC__Cockpit_desc = Has a cockpit.
        #RP1COSTMODIFIERS_LOC__EngineLiquidPF_displayName = Pressure-Fed Engine
        #RP1COSTMODIFIERS_LOC__EngineLiquidPF_desc = Has a pressure-fed liquid rocket engine that requires some additional testing.
        #RP1COSTMODIFIERS_LOC__EngineLiquidTurbo_displayName = Pump-Fed Engine
        #RP1COSTMODIFIERS_LOC__EngineLiquidTurbo_desc = Has a pump-fed liquid rocket engine. The turbopump is a very complicated piece of machinery that requires extensive testing.
        #RP1COSTMODIFIERS_LOC__EngineSolid_displayName = Solid Rocket Motor
        #RP1COSTMODIFIERS_LOC__EngineSolid_desc = Has a solid rocket motor. Much easier to integrate and test than liquid engines.
        #RP1COSTMODIFIERS_LOC__HumanRated_displayName = Human-Rated
        #RP1COSTMODIFIERS_LOC__HumanRated_desc = Has human-rated equipment that requires more time for integration and testing of the entire craft.
        #RP1COSTMODIFIERS_LOC__Instruments_displayName = Instruments
        #RP1COSTMODIFIERS_LOC__Instruments_desc = Has scientific instruments. Currently, no effect on launch cost.
        #RP1COSTMODIFIERS_LOC__Nuclear_displayName = Nuclear
        #RP1COSTMODIFIERS_LOC__Nuclear_desc = Has radioactive elements that must be carefully handled and integrated, and require additional administrative permits.
        #RP1COSTMODIFIERS_LOC__NuclearRTG_displayName = Nuclear RTG
        #RP1COSTMODIFIERS_LOC__NuclearRTG_desc = Has radioactive elements that must be carefully handled and integrated, and require additional administrative permits.
        #RP1COSTMODIFIERS_LOC__Reentry_displayName = Reentry-Rated
        #RP1COSTMODIFIERS_LOC__Reentry_desc = Has reentry equipment that needs proper integration and testing for safety.
        #RP1COSTMODIFIERS_LOC__TankBalloon_displayName = Balloon Tank
        #RP1COSTMODIFIERS_LOC__TankBalloon_desc = Has a Balloon Tank that is very difficult to handle and must be pressurized properly at all times.
        #RP1COSTMODIFIERS_LOC__TankServiceModule_displayName = Service Module Tank
        #RP1COSTMODIFIERS_LOC__TankServiceModule_desc = Has a Service Module tank, specially designed to hold many different resources. This flexibility and complexity increases the launch cost.
        #RP1COSTMODIFIERS_LOC__Toxic_displayName = Toxic Propellants
        #RP1COSTMODIFIERS_LOC__Toxic_desc = Has toxic propellants that need to be handled carefully prior to launch.
        #RP1COSTMODIFIERS_LOC__Hydrolox_displayName = Hydrolox
        #RP1COSTMODIFIERS_LOC__Hydrolox_desc = Currently, no effect on launch cost.
        #RP1COSTMODIFIERS_LOC__Cryogenic_displayName = Cryo Propellants
        #RP1COSTMODIFIERS_LOC__Cryogenic_desc = Has cryogenic propellants that need to be handled carefully prior to launch.
        #RP1COSTMODIFIERS_LOC__PadInfrastructure_displayName = Pad Infrastructure
        #RP1COSTMODIFIERS_LOC__PadInfrastructure_desc = Part of the pad infrastructure and does not contribute to build time or assesed mass/size.
        #RP1COSTMODIFIERS_LOC__NoResourceCostMult_displayName = No Resource Multipliers
        #RP1COSTMODIFIERS_LOC__NoResourceCostMult_desc = Not subject to additional integration time based on resources, usually due to being a crewed part.
        #RP1COSTMODIFIERS_LOC__TankIsogrid_displayName = Isogrid Structure
        #RP1COSTMODIFIERS_LOC__TankIsogrid_desc = Tank with isogrid structure: lighter but more fragile
    }
}
