Localization
{
    en-us
    {
        #RP1TOOLDEF_LOC__Tank-Sep-Steel_title = Steel Fuselage
        #RP1TOOLDEF_LOC__Tank-Sep-Steel-HP_title = HP Steel Fuselage
        #RP1TOOLDEF_LOC__Tank-Sep-Al_title = Al Fuselage
        #RP1TOOLDEF_LOC__Tank-Sep-Al-HP_title = HP Al Fuselage
        #RP1TOOLDEF_LOC__Tank-Sep-Al2_title = Al Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-Al2-HP_title = HP Al Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-AlCu_title = Refined Al Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-AlCu-HP_title = HP Refined Al Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-AlLi_title = Al-Li Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-AlLi-HP_title = HP Al-Li Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-Stir_title = Refined Al-Li Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-Stir-HP_title = HP Refined Al-Li Stringer Tank
        #RP1TOOLDEF_LOC__Tank-Sep-Starship_title = Steel Stir-Welded Tank
        #RP1TOOLDEF_LOC__Tank-Sep-Starship-HP_title = HP Steel Stir-Welded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Al_title = Al Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Al-HP_title = HP Al Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-AlCu_title = Refined Al Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-AlCu-HP_title = HP Refined Al Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-AlLi_title = Al-Li Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-AlLi-HP_title = HP Al-Li Gridded Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Comp_title = Composite Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Comp-HP_title = HP Composite Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Magic_title = Refined Composite Tank
        #RP1TOOLDEF_LOC__Tank-Iso-Magic-HP_title = HP Refined Composite Tank
        #RP1TOOLDEF_LOC__Tank-Balloon-SteelAl_title = Balloon Tank
        #RP1TOOLDEF_LOC__Tank-Balloon-SteelAlCu_title = Refined Balloon Tank
        #RP1TOOLDEF_LOC__Tank-Balloon-SteelAlLi_title = Modern Balloon Tank
    }
}
