Localization
{
    zh-cn
    {
        #RP1CONTRACTGROUP_LOC__RP0_displayName = 暂未翻译 // RP-1
        #RP1CONTRACTGROUP_LOC__RP0_Milestones_displayName = 里程碑 // Milestones
        #RP1CONTRACTGROUP_LOC__RP0_SuborbRocketDev_displayName = 亚轨道火箭部署 // Suborbital Rocket Development
        #RP1CONTRACTGROUP_LOC__RP0_SuborbRocketResearch_displayName = 亚轨道火箭研究 // Suborbital Rocket Research
        #RP1CONTRACTGROUP_LOC__RP0_EarlyXPlanes_displayName = X-Plane 研究 // X-Plane Research
        #RP1CONTRACTGROUP_LOC__RP0_EarlySatellites_displayName = 早期卫星（轻型） // Early Satellite (Light)
        #RP1CONTRACTGROUP_LOC__RP0_EarlySatellites-Heavy_displayName = 早期卫星（重型） // Early Satellite (Heavy)
        #RP1CONTRACTGROUP_LOC__RP0_TargetedSats_displayName = 特定轨道卫星 // Targeted Satellite
        #RP1CONTRACTGROUP_LOC__RP0_EOS_displayName = 地球观测网络 // Earth Observation Satellites
        #RP1CONTRACTGROUP_LOC__RP0_CommNetwork_displayName = 通讯组网 // Communications Network
        #RP1CONTRACTGROUP_LOC__RP0_CommApp_displayName = 商用卫星 // Commercial Application Satellites
        #RP1CONTRACTGROUP_LOC__RP0_CommApp2_displayName = 高级商用卫星 // Advanced Commercial Application Satellites
        #RP1CONTRACTGROUP_LOC__RP0_GEOCommNetwork_displayName = 地球静止通讯组网 // Geostationary Communications Network
        #RP1CONTRACTGROUP_LOC__RP0_EarlyLunarProbes_displayName = 早期月球探测器 // Early Lunar Probes
        #RP1CONTRACTGROUP_LOC__RP0_UncrewedLunarSurface_displayName = 无人月面探索 // Uncrewed Lunar Surface Exploration
        #RP1CONTRACTGROUP_LOC__RP0_EarlyInnerPlanetProbes_displayName = 早期内行星探测器 // Early Inner Planet Probes
        #RP1CONTRACTGROUP_LOC__RP0_CrewedOrbit_displayName = 载人入轨 // Crewed Orbit
        #RP1CONTRACTGROUP_LOC__RP0_CrewedOrbitAdv_displayName = 高级载人入轨 // Advanced Crewed Orbit
        #RP1CONTRACTGROUP_LOC__RP0_EarlySpacePlanes_displayName = 航天飞机开发 // Spaceplane Development
        #RP1CONTRACTGROUP_LOC__RP0_CrewedLunar_displayName = 载人月球探测 // Crewed Lunar Exploration
        #RP1CONTRACTGROUP_LOC__RP0_EarlyEarthSpaceStation_displayName = 早期地球空间站 // Early Earth Space Stations
        #RP1CONTRACTGROUP_LOC__RP0_MartianSurfaceExploration_displayName = 火星表面探索 // Mars Surface Exploration
        #RP1CONTRACTGROUP_LOC__RP0_VenusSurfaceExp_displayName = 金星表面探索 // Venus Surface Exploration
        #RP1CONTRACTGROUP_LOC__RP0_SmallBodiesFlyby_displayName = 小天体飞跃 // Small Bodies Flyby
        #RP1CONTRACTGROUP_LOC__RP0_MercuryExploration_displayName = 水星探索 // Mercury Exploration
        #RP1CONTRACTGROUP_LOC__RP0_AsteroidExploration_displayName = 小行星探索 // Asteroid Exploration
        #RP1CONTRACTGROUP_LOC__RP0_JupiterObservation_displayName = 木星观测 // Jupiter Observation
        #RP1CONTRACTGROUP_LOC__RP0_JupiterMoonLandings_displayName = 木卫着陆 // Jovian Moon Landings
        #RP1CONTRACTGROUP_LOC__RP0_SaturnObservation_displayName = 土星观测 // Saturn Observation
        #RP1CONTRACTGROUP_LOC__RP0_SaturnMoonLandings_displayName = 土卫着陆 // Saturine Moon Landings
        #RP1CONTRACTGROUP_LOC__RP0_OuterPlanetFlyby_displayName = 外行星飞跃 // Outer Planet Flybys
        #RP1CONTRACTGROUP_LOC__RP0_OuterGasGiantSurvey_displayName = 气态巨行星调查 // Outer Gas Giant Survey
        #RP1CONTRACTGROUP_LOC__RP0_PlutoLandings_displayName = 冥王星着陆 // Plutonian Landings
        #RP1CONTRACTGROUP_LOC__RP0_LunarHabitation_displayName = 月球居住 // Lunar Habitation
        #RP1CONTRACTGROUP_LOC__RP0_CrewedMarsExp_displayName = 载人火星探索 // Crewed Mars Exploration
        #RP1CONTRACTGROUP_LOC__RP0_CrewedVenusExp_displayName = 载人金星探索 // Crewed Venus Exploration
        #RP1CONTRACTGROUP_LOC__RP0_CrewedExploration_displayName = 载人太阳系探索 // Crewed Solar System Exploration
        #RP1CONTRACTGROUP_LOC__RP0_Records_displayName = 记录 // Records
        #RP1CONTRACTGROUP_LOC__RP0_HumanRecords_displayName = 人类记录 // Human Records
        #RP1CONTRACTGROUP_LOC__RP0_unnamed_title = Modifiers for contracts // Modifiers for contracts
    }
}
